@media only screen and (max-width: 1400px){
    #homeLogo{margin-bottom: -3%}
    .margem{margin-top: 8%;}
    #nossaempresa{height: 80vh;}
    #funcionalidades{height: 115vh;}
    #cartao{height: 90vh;}
    .img-news{height: 25vh;width: 30vh;}
    #contatos{height: 100vh;}
    .conta{width: 26vh;}
    .marge{height: 7.5vh;}
}
/* -------IPHONE 5/SE----- */
@media only screen and (max-width: 320px) and (min-height: 568px){
    #home{height: 160vh;}
    .iphone{display: none;}
    .bg{height: 100%;}
    .button1{width: 80vw;}
    .margem{margin-top: 25%;}
    #nossaempresa{height: 230vh;}
    .iframe{width: 80vw;height: 50vh !important;margin: 0;}
    .alin{text-align: center;}
    #funcionalidades{height: 260vh !important;}
    .ajust{text-align: center;}
    .func{margin-left: 23vw;width: 50%;}
    .func1{margin-left: 23vw;width: 50%;}
    .button2{width: 80vw;}
    .linha2{width: 50%;}
    #cartao{height: 230vh !important;}
    .text-modi{padding: 0px 30px;}
    #img-faq{margin-top: 5vh;width: 80vw;}
    #img-card{width: 80vw;}
    .testimonial-area{height: 100vh !important;}
    #noticias{height: 85vh !important;}
    .img-news   {display: none !important;}
    #news{margin-left: -15vw;}
    .carousel-control-next-icon{margin-left: 1vw;width: 7vw;height: 5vh;}
    .carousel-control-prev-icon{margin-right: 1vw;width: 7vw;height: 5vh;}
    /* .img-news{height: 15vh;margin-left: 5vw;} */
    .backg{height: 30vh;}
    #contatos{height: 120vh;}
    .btn-contat{width: 80vw;}
    .conta1{width: 80vw;}
    .conta{width: 34.5vw;}
    #cemail{width: 43vw;}
    #mensage{width: 80vw;}
    .creditos{text-align: center;}
    .uso{width: 100%;}
    .sendemail{margin-left: 10vw;}
}
/*---------GALAXY S5------ */
@media only screen and (max-width: 360px) and (min-height: 640px){
    #home{height: 130vh;}
    .iphone{display: none;}
    .bg{height: 100%;}
    .button1{width: 80vw;}
    .margem{margin-top: 25%;}
    #nossaempresa{height: 180vh;}
    .iframe{width: 80vw;height: 50vh !important;margin: 0;}
    .alin{text-align: center;}
    #funcionalidades{height: 220vh !important;}
    .ajust{text-align: center;}
    .func{margin-left: 23vw;width: 50%;}
    .func1{margin-left: 23vw;width: 50%;}
    .button2{width: 70vw;}
    .linha2{width: 50%;}
    #cartao{height: 180vh !important;}
    .testimonial-area{height: 100vh !important;}
    #noticias{height: 85vh !important;}
    .img-news   {display: none !important;}
    #news{margin-left: -15vw;}
    .carousel-control-next-icon{margin-left: 1vw;width: 7vw;height: 5vh;}
    .carousel-control-prev-icon{margin-right: 1vw;width: 7vw;height: 5vh;}
    /* .img-news{height: 15vh;margin-left: 5vw;} */
    .backg{height: 30vh;}
    #contatos{height: 110vh;}
    .conta1{width: 80vw;}
    .conta{width: 35vw;}
    #cemail{width: 43vw;}
    #mensage{width: 80vw;}
    .creditos{text-align: center;}
    .uso{width: 100%;}
    .sendemail{margin-left: 10vw;}
}
/*-------DEITADO------ */
/* @media only screen and (max-width: 640px) and (min-height: 360px){
    #home{height: 230vh;}
    .navbar{height: 20vh;}
    .bg{height: 100%;}
    .button1{width: 80vw;height: 20vh;}
    .margem{margin-top: 25%;}
    #nossaempresa{height: 190vh;}
    .iframe{width: 80vw;height: 80vh;margin: 0;}
    .alin{text-align: center;}
    #funcionalidades{height: 450vh;}
    .ajust{text-align: center;}
    .func{margin-left: 23vw;width: 50%;}
    .func1{margin-left: 23vw;width: 50%;}
    .button2{width: 70vw;height: 10vh;}
    .bottom-part{margin-top: 10vh;}
    .linha2{width: 50%;}
    #cartao{height: 250vh;}
    .testimonial-area{height: 150vh;}
    #noticias{height: 105vh;}
    .backg{height: 30vh;}
    #contatos{height: 210vh;}
    .conta1{width: 80vw;height: 10vh;}
    .conta{width: 40vw;height: 10vh;}
    #cemail{width: 39vw;}
    #mensage{width: 80vw;}
    .creditos{text-align: center;}
    .uso{width: 100%;}
    .sendemail{align-self: center;margin-left: 10vw;}
    #sendmail{align-self: center;margin-left: 3vw;}
} */

/*---------GALAXY S5------ */


/* -----PIXEL 2---- */
@media only screen and (max-width: 411px) and (min-height: 731px){
    #home{height: 120vh;}
    .bg{height: 100%;}
    .button1{width: 80vw;}
    .margem{margin-top: 25%;}
    #nossaempresa{height: 150vh;}
    .iframe{width: 80vw;height: 50vh !important;margin: 0;}
    .alin{text-align: center;margin-left: 1vh;}
    #funcionalidades{height: 170vh;}
    .iphone{display: none;}
    .ajust{text-align: center;}
    .func{margin-left: 23vw;width: 50%;}
    .func1{margin-left: 23vw;width: 50%;}
    .button2{width: 70vw;}
    .linha2{width: 50%;}
    #cartao{height: 180vh;}
    .text-modi{padding: 0px 30px;}
    #img-faq{margin-top: 5vh;}
    #noticias{height: 85vh;}
    .img-news{display: none !important;}
    #news{margin-left: -15vw;}
    .carousel-control-next-icon{margin-left: 1vw;width: 7vw;height: 5vh;}
    .carousel-control-prev-icon{margin-right: 1vw;width: 7vw;height: 5vh;}
    .img-news{height: 15vh;margin-left: 5vw;}
    .backg{height: 30vh;}
    #contatos{height: 110vh;}
    .conta1{width: 80vw;}
    #cemail{width: 31vw;}
    #mensage{width: 80vw;}
    .creditos{text-align: center;}
    .uso{width: 100%;}
    .sendemail{margin-left: 10vw;}
}
/* ----------PIXEL XL--------- */
@media only screen and (max-width: 411px) and (min-height: 823px){
    .margem{margin-top: 30%;}
    #home{height: 110vh;}
    #funcionalidades{height: 150vh;}
    #cartao{height: 150vh;}
    .conta1{width: 80vw;}
    .conta{width: 33vw;}
    #cemail{width: 45vw;}
    .sendemail{margin-left: 13vw;}
    #contatos{height: 100vh;}
}